/* text entries per page */
.dt-length label {
    color: rgb(100 116 139);
}
html.dark .dt-length label {
    color: rgb(226 232 240);
}

/* select page number */
.dt-length select {
    color: rgb(100 116 139);
    width: 64px;
    margin-right: 8px;
}
html.dark .dt-length select {
    color: rgb(226 232 240);
}

/* select container */
html.dark .dt-container .dt-length select {
    background-color: transparent;
}

/* select option */
html.dark .dt-container .dt-length option {
    color: rgb(100 116 139);
}

/* text search */
.dt-search label {
    color: rgb(100 116 139);
}
html.dark .dt-search label {
    color: rgb(226 232 240);
}

/* search input container */
html.dark .dt-container .dt-search input {
    background-color: white;
    margin-left: 8px;
}

/* text pagination showing number */
div.dt-container .dt-info {
    color: rgb(100 116 139);
}
html.dark div.dt-container .dt-info {
    color: rgb(226 232 240);
}

/* button next previous number */
div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button {
    color: rgb(100 116 139) !important;
}
div.dt-container .dt-paging .dt-paging-button.disabled:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:active,
div.dt-container .dt-paging .dt-paging-button.current:hover,
html.dark .dt-container .dt-paging .dt-paging-button.disabled,
html.dark .dt-container .dt-paging .dt-paging-button.disabled:hover,
html.dark .dt-container .dt-paging .dt-paging-button.disabled:active,
html.dark div.dt-container .dt-paging .dt-paging-button {
    color: rgb(226 232 240) !important;
}

/* button background */
div.dt-container .dt-paging .dt-paging-button:hover {
    background: rgb(59 130 246) !important;
    border: 1px solid transparent !important;
}

/* responsive title detail */
table.dataTable > tbody > tr.child span.dtr-title {
    background: rgb(59 130 246) !important;
    color: #ffffff;
    border-radius: 4px;
    padding: 6px 4px;
    margin-bottom: 8px;
    width: 100%;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
}
